body{
    width: 100%;
    height: 100vh;
    background-color: rgb(14, 14, 37);

}

header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 70px;
    top: 0;
    z-index: 1000;
    background: #03033d;
    position: fixed;
}
.headr{
    position: absolute;
    top: 40px;
    background: #03033d;
}
.searchimg{
    width: 100%;
    height: 700px;
    z-index: -1000;

    background-image: url("https://i.ibb.co/6X9Mk66/pexels-hngstrm-3137890.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    filter: blur(3px);


}
.resultcardd{
    display: flex;
    gap:10px;
    margin-left:30px ;
    justify-content: center;


}
.name{
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: medium;
    margin-left: 45px;

}
.headr{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    position: absolute;

    width: 100%;
    bottom: 490px;
}
.item{
    text-align: center;
}
.card-image{
    height: 300px;

    border-radius:50px;

}
.text-card{
    color:white;
    text-align: center;
    font-size: medium;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.details{
    background-color: rgb(14, 14, 37);
    color: rgb(123, 117, 117);
    border:1px solid rgb(71, 62, 62);
    border-radius: 9px;
    padding: 6px 16px;
    margin-top: -9px;
}
.details:hover{
    background-color:white;
    color: rgb(14, 14, 37);


}

.navContainer {
    Display: flex;
    width: 40px;
    height: 5rem;
    align-items: center;
    padding: 0px 146px 0px 63px;



}
.nav_paremt_conatainer{
    display: flex;
    justify-content: space-evenly;
}




.navContainer input {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%23717790c7'%3E%3Cpath d='M55.146 51.887 41.588 37.786A22.926 22.926 0 0 0 46.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 0 0 .083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    padding: 0px 26px 1px 14px;
    height: 36px;
    outline: none;
    border: none;
    border-radius: 9px;



    background-color: #82819380;
    background-size: 20px;
    background-position-y: center;
    background-position: 98%;
    color: #ffff;
    width: 80%;
    letter-spacing: 1px;
    font-size: 14px;
    transition-duration: 0.2s;
    transition-timing-function: linear;

}
.title{
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;

}
/*.headtitle{
 position: relative;
}
#ZZ{
    position: absolute;
   left: 189px;
    width: 100%;
    bottom: 1px;

}
*/


