<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">

    <servlet>
        <servlet-name>ShowFilms</servlet-name>
        <servlet-class>com.octest.servlets.ShowFilms</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowFilms</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>com.octest.servlets.Search</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReactionCommentaire</servlet-name>
        <servlet-class>com.octest.servlets.ReactionCommentaire</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReactionCommentaire</servlet-name>
        <url-pattern>/ReactionCommentaire</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogIn</servlet-name>
        <servlet-class>com.octest.servlets.LogIn</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogIn</servlet-name>
        <url-pattern>/Log</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>com.octest.servlets.SignUp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/Sign</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>MovieDetails</servlet-name>
        <servlet-class>com.octest.servlets.MovieDetails</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MovieDetails</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddFilm</servlet-name>
        <servlet-class>com.octest.servlets.AddFilm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddFilm</servlet-name>
        <url-pattern>/Add</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CancelFilm</servlet-name>
        <servlet-class>com.octest.servlets.CancelFilm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CancelFilm</servlet-name>
        <url-pattern>/cancel</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ReserverMovie</servlet-name>
        <servlet-class>com.octest.servlets.ReserverMovie</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReserverMovie</servlet-name>
        <url-pattern>/re</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateFilm</servlet-name>
        <servlet-class>com.octest.servlets.UpdateFilm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateFilm</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FavorisServlet</servlet-name>
        <servlet-class>com.octest.servlets.FavorisServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FavorisServlet</servlet-name>
        <url-pattern>/favoris</url-pattern>
    </servlet-mapping>
</web-app>



